#ingredients-section h3 p{
    background-color: burlywood;
}




#ingredients-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: url('793645.jpg');
    background-size: cover;
    background-position: center;
    border: 4px solid black;
   
    margin-left: 150px;
    margin-right: 150px;
    color:rgb(255, 255, 255);
    text-shadow: 
    1px 1px 0 #000,  
    1px 1px 0 #000,
   3px  1px 0 #000,
    1px  1px 0 #000;;
    font-weight: 100;
    
}
#ingredients-section li{
    margin-top: 20px;
    font-size: 25px;

}
#ingredients-section li:hover{
    
    padding: 10px;
    background-color: #000;
    font-weight: 200;
    border-radius: 20px;
    border: 1px solid white;
    text-shadow:none;
}
#ingredients-section ol{
    border-radius: 20px;
    padding: 25px;
    background-color: burlywood;
    border: 2px solid black;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header {
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.63);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header:hover{
    font-size: 20px;
}
header a{
    color: aliceblue;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}

#steps-section{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border:3px black solid;
    margin-right: 100px;
    margin-left: 100px;
    background-color: burlywood;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
    
}
#steps-section li{
    
    border-top: 1px dashed black;
    padding: 8px;
    font-size: 20px;
    color: white;
    text-shadow: 
        -1px -1px 0 #000,  
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
        
}
#form-link{
    margin:45px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#form-link h3 a{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 2px solid black;
    border-radius: 100px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    color: black;
}
#form-link h3 a:hover{
    font-size:20px ;
}
footer{
    display:flex;
    justify-content: center;
    font-size: 26px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: burlywood;
    margin-bottom: auto;
}
